# LIST

In [20]:
my_list = [10,9,20,4,5,78]   # degine list 
print(my_list)

[10, 9, 20, 4, 5, 78]

In [22]:
my_list.sort()      # sort the list using sort funtion
my_list

[4, 5, 9, 10, 20, 78]

In [27]:
my_list1 = ["Aello","Apple","A"]       # sort the list string 
my_list1.sort()
my_list1

['A', 'Aello', 'Apple']

In [28]:
my_list2 = [1,2,"python","sort"]     # we cant sort list with int and string letter
my_list2.sort()
my_list2

TypeError: '<' not supported between instances of 'str' and 'int'

In [29]:
my_list

[4, 5, 9, 10, 20, 78]

In [33]:
my_list.sort(reverse=True)     # reverse is the parameter tuning
my_list

[78, 20, 10, 9, 5, 4]

# Magic Method  OR Dunder Method

In [36]:
int.__add__(12,30)      # first number + second number

42

In [37]:
int.__sub__(10,20)    # first number -seond number

-10

In [38]:
int.__mul__(10,20)   # first number multiply by second second number

200

In [40]:
float.__add__(10,10)    # we required the at least 1 number float

TypeError: descriptor '__add__' requires a 'float' object but received a 'int'

# TUPLE

In [ ]:
my_tuple = (1,2,3,4,5,6)     # we can define tuple as empty

In [ ]:
################################################.count() function###################################################################

In [42]:
my_tuple.count(1)     # how many time 1 number repeated

1

In [43]:
my_tuple.count()    # required at least 1 character

TypeError: tuple.count() takes exactly one argument (0 given)

In [15]:
my_tuple

(1, 2, 3, 4, 5, 6)

# Indexing and Slicing

In [44]:
my_tuple

(1, 2, 3, 4, 5, 6)

In [46]:
my_tuple[0]   # acces the number in tuple

1

In [48]:
my_tuple[:]     # print all number 0 to n-1

(1, 2, 3, 4, 5, 6)

In [50]:
my_tuple[1:3]   #print the number from  1 to n-1

(2, 3)

In [51]:
my_tuple.index(2)    # return the index of the number of any element

1

In [52]:
my_tuple[0] = "Atul"   # we can't update operation on tuple

TypeError: 'tuple' object does not support item assignment

In [16]:
my_tuple1 = (1,2,3,4,5)     # we can define tuple as round bracket (parenthesis)

In [54]:
for i in enumerate(my_tuple1):    # print number index
      print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [61]:
t5 = ("hello","Python",4)    
print(t5[0][0])
print(t5[0][1])

h
e

In [62]:
print(t5[2][0])   # int object is not print output

TypeError: 'int' object is not subscriptable

# Operator

In [63]:
~12    # print the number compliment

-13

In [64]:
12 & 10  # print & operation

8

In [65]:
12 | 10  # print or operation

14

In [66]:
12 ^ 10 # print xor operation

6