# Python Basic

In [1]:
3 + 2

5

In [2]:
10 - 5

5

In [3]:
10 * 5

50

In [4]:
20 / 5

4.0

In [5]:
20 // 5

4

In [6]:
20 % 5

0

In [7]:
20 + 10 -   # syntax error missing number

SyntaxError: invalid syntax (996021543.py, line 1)

In [8]:
(5+5) - 5

5

In [38]:
# BODMAS Bracket || Oders || Divide || Multiply || Add || Substact

In [9]:
(5 + 5) * 5

50

In [10]:
5 * 5 * 5 *5

625

In [12]:
10 / 3

3.3333333333333335

In [19]:
A , b, c, d  = 1,"Python",[1,2,3],6
print(A)
print(b)
print(c)
print(d)

1
Python
[1, 2, 3]
6

In [ ]:
===========================================String===============================================================

In [20]:
new_string = "Hello Python"
new_string

'Hello Python'

In [21]:
# funtion is a block of code we need to pass argument or parameter for printing the result

In [22]:
sample = "'hello i am aditya',e'i am from pune'"

In [23]:
sample

"'hello i am aditya',e'i am from pune'"

In [24]:
sample1 = "i am good in reading"s"can you teach me"  # sletter is not in the single or double quote

SyntaxError: invalid syntax (2518772177.py, line 1)

In [25]:
sample3 = "Naresh","technology"
sample3

('Naresh', 'technology')

In [30]:
"nit" + "nit"   # string concatination

'nitnit'

In [32]:
5 * "Naresh"    #  multiplication operation on string

'Naresh Naresh Naresh Naresh Naresh '

In [33]:
3 * "Hydrabad "  # space between letter

'Hydrabad Hydrabad Hydrabad '

In [35]:
print("hello\nprogram")    # new line print

hello
program

In [2]:
print("i am \nan Engineer")

i am
an Engineer

In [18]:
y = 10
y

10

In [19]:
_ + 5

15

In [20]:
_ + 20

35

In [25]:
y = 10
z = 20
p = y+z
print(p)

30

In [26]:
_ + 10

50

In [27]:
_ -10

40

In [ ]:
################string################################

In [28]:
name = "MIT"
print(name)

MIT

In [ ]:
_ + "Vit"   # they not support as int and str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
"w" + "name"

'wname'

In [36]:
name = "fine"     # string concatination

In [37]:
'd' + name[1:]

'dine'