In [1]:
import math    # import math module

In [3]:
from math import*         # we can import all packages using *

In [4]:
import numpy as np     # we can use numpy as np (Alias)

In [7]:
round(3.5)

4

In [8]:
ceil(3.4)

4

In [10]:
print(math.pow(2,3))

8.0

# input statement

In [11]:
a = input("enter the input:")                # it take input as a string
b = input("enter the second input:")
z = a + b
print(z)

1223

In [14]:
num1 = int(input("enter the 1number:"))               # print addiction using int datatype
num2 = int(input("enter the second number:"))
result = num1 + num2
print(result)

30

In [15]:
num3 = float(input("enter the int value:"))             # print add of float value
num4 = float(input("enter the 2nd value:")) 
result = num3 + num4
print(result)

30.0

In [16]:
ch = input("enter a charater:")[0]
print(ch)

e

In [21]:
num4 = input("enter the number:")  # we cant perform 2+3+5 expression
print(num4)

3+4+4

In [20]:
num4 = eval(input("enter the number:"))
print(num4)

12

# SET - DS

In [23]:
s = {}
type(s)

dict

In [25]:
set1 = set()      # define empty set
print(set1)

set()

In [26]:
set1 = {1,2,4,5}
type(set1)

set

In [27]:
print(set1)

{1, 2, 4, 5}

In [28]:
set1.add(20.40)

In [29]:
set1.add(20+4j)

In [30]:
set1

{(20+4j), 1, 2, 20.4, 4, 5}

In [32]:
set1.add(34,45)    # we cant add multiple value at 1 time

TypeError: set.add() takes exactly one argument (2 given)

In [33]:
set2 = set1.copy()

In [34]:
set2

{(20+4j), 1, 2, 20.4, 4, 5}

In [35]:
set2.remove(1)                   # remove specific element

In [36]:
set2

{(20+4j), 2, 20.4, 4, 5}

In [37]:
set2.pop()

(20+4j)

In [38]:
set2.pop()

2

In [39]:
set2.pop(10)        # we cant pop because set not allowed indexing

TypeError: set.pop() takes no arguments (1 given)

In [41]:
set2.discard(200)           # remove if element is present